*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(16, 0, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #2b2b2b;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1em;
    padding: 2em;
    border-radius: 10px;
    align-items: center;
}

.container p{
    color: greenyellow;
}
.button-contianer{
display: flex;
flex-direction: column;
gap: 1em;
 padding:2em;
 width: 100%;
}

button{
    background: #797878;
    color: #fff;
    border: none;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
}
.image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.background-size{
    height: 70vh;
    width: 40vw;
}

button:hover{
background-color: greenyellow;
color: #2b2b2b;
border: 3px solid red;
}