*{
    padding: 0;
    margin: 0;
}
.header{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}
.button-contianer{
     display: flex;
flex-direction: column;
gap: 1em;
 border: 1px solid rgb(197, 65, 13);
 padding:2em;
 margin: 5em ;
  ;
 background-color: rgb(47, 51, 56);
}
.Github{
   
}
